* {
    box-sizing: border-box;
  }
  :root {
    --background-color: rgb(42, 40, 40);
    --text-color: hsl(0, 0%, 100%);
  }
  body {
    margin: 0;
  }
  .wrapper {
    display: grid;
    place-content: center;
    background-color: var(--background-color);
    min-height: 20vh;
    font-family: "Oswald", sans-serif;
    font-size: clamp(1.5rem, 1rem + 12vw, 10rem);
    font-weight: 600;
    text-transform: uppercase;
    color: var(--text-color);
  }
  
  .wrapper > div {
    grid-area: 1/1/-1/-1;
  }
  .top {
    clip-path: polygon(0% 0%, 100% 0%, 100% 48%, 0% 58%);
  }
  .bottom {
    clip-path: polygon(0% 60%, 100% 50%, 100% 100%, 0% 100%);
    color: transparent;
    background: -webkit-linear-gradient(177deg, rgb(0,191,255)60%, var(--text-color) 65%);
    background: linear-gradient(177deg, rgb(0,191,255) 60%, var(--text-color) 65%);
    background-clip: text;
    -webkit-background-clip: text;
    transform: translateX(-0.02em);
  }
  